html, body{
	font-family: Arial, sans-serif;
	margin: 0;
}

header{ background-color: #664E9B;
	padding: 200px;
	text-align: center;
}

h1{ font-size: 90px;
	color: black;
	margin: 0 auto; 
	text-align: center;
	text-shadow: 0 0 5px #00ff00;

}

header img{	border-radius: 247px;
	text-align: center;
	box-shadow: 0 10px 20px black;
}
.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;

}

img.big-image{
	max-width: 100%
}

body{ background-color: black; }


}

footer ul{ text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: #F6811F;
	text-decoration: none;
}

h2{ font-size: 40px;
	color: #00e600;
	margin: 0 auto; 
	text-align: center;
}
li, p { color: white;
	font-family: helvetica, sans-serif;
	font-size: 20px;
	margin: 0;}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #6ED0F3;

}

footer ul li{
	display: inline-block;
	margin: 0px
}

/*<head>
	<title>Good day for science</title>
	<link rel="stylesheet" type="text/css" href="css/hero.css">


</head>*/